<div class="container">
    <div class="row-fluid">
        <div class="col-md-5">
            <img src="http://d1mqoh213yi928.cloudfront.net/img/anticharity_app_iconRGB-01.png" height="450px"/>
        </div>
        <div class="col-md-7">
            <div id="brand-name">
                AntiCharity
            </div>
            <div id="mission-statement">
                Our mission is to help you reach your goals. We do this by helping you to NOT help them.
            </div>
            <div id="help-me-help-you">
                <iframe src="//giphy.com/embed/uRb2p09vY8lEs" width="480" height="275" frameBorder="0" class="giphy-embed"></iframe>
            </div>
            <div id="why-landing-page">
                For now this is just a landing page, BUT in the very near and not so distant future, we will be up and running.
                If you'd like to know more, or just want to be notified when we are live, go ahead and throw your email
                in the box below.
            </div>
            <div id="interested-email">
                <input type="email" placeholder="Email"/>
            </div>
        </div>
    </div>
</div>