.company-name, .toolbar {
  font-family: 'Khand', sans-serif;
}

.toolbar {
	margin-top: 10px;
}

#content-container {
	background: #f7fafa;
}

/* Login/Signup Page CSS */
#login-container {
	font-family: 'Khand', sans-serif;
	border: 1px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 15px;
}


/* Footer CSS */
.footer {
    background-color: orange;
    
}

.footer-text {
	font-family: 'Khand', sans-serif;
}

#footer-motto {
	text-align: center;
}