.company-name, .toolbar, .why-anticharity-paragraph {
  font-family: 'Khand', sans-serif;
}

.toolbar {
	margin-top: 10px;
}

.toolbar div {
	cursor: pointer;
	cursor: hand;
}

#content-container {
	background: #f7fafa;
}

/* Login/Signup Page CSS */
#login-container {
	font-family: 'Khand', sans-serif;
	border: 1px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 15px;
}


/* Profile Page */
#general-profile-information {
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid black;
	font-family: 'Khand', sans-serif;
}

#edit-profile-btn {
	font-size: 12px;
	color: white;
	background-color: grey;
	width: 100%;
}

.profile-inspirational-quote {
	border: 2px solid #ef5b0d;
	border-radius: 8px;
	padding: 5px;

}

.profile-inspirational-quote-body {
	text-align: left;
}

.profile-inspirational-quote-author {
	text-align: right;
}


/* Why Anticharity */
.why-anticharity {
	text-align: center;
}

.why-anticharity-paragraph {
	text-align: center;
	padding: 1.5rem;
}

.why-anticharity-img {
	height: 150px;
}

/* Footer CSS */
.footer {
    background-color: orange;
    
}

.footer-text {
	font-family: 'Khand', sans-serif;
}

#footer-motto {
	text-align: center;
}