.company-name, .toolbar, .why-anticharity-paragraph {
  font-family: 'Khand', sans-serif;
}



#content-container {
	background: white;
}

.container {
	padding: 30px 130px;
}

/* Login/Signup Page CSS */
#login-container {
	font-family: 'Khand', sans-serif;
	border: 1px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 15px;
}


/* Profile Page */



/* Why Anticharity */
.why-anticharity {
	text-align: center;
}

.why-anticharity-paragraph {
	text-align: center;
	padding: 1.5rem;
}

.why-anticharity-img {
	height: 150px;
}

/* Footer CSS */
.footer {
    background-color: orange;
    
}

.footer-text {
	font-family: 'Khand', sans-serif;
}

#footer-motto {
	text-align: center;
}