<div class="home-about-scrollable container">
    <div class="home-about-scrollable-item">
        <div class="home-about-scrollable-item-image
                    home-about-scrollable-item-image-left">
            <img class="why-anticharity-img" src="http://i0.kym-cdn.com/photos/images/newsfeed/000/185/885/SANDCASTLES.png?1318627593" />
        </div>
        <div class="home-about-scrollable-item-text
                    home-about-scrollable-item-text-right">
            So it turns out, setting goals is actually a thing, and that it matters.
            Research has shown that people with clear, written goals earn 10x more than non-goal setters.
        </div>
    </div>
</div>