{{ #user }}
	<div class='row-fluid'>
		<div class='col-md-2'></div>
		<div class='row col-md-8' id='general-profile-information'>
			<div class='col-md-12'>General Information</div>
			<div class='col-md-3' id='profile-picture-div'>
				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D10153539016070901%26set%3Da.463148095900.263484.548025900%26type%3D3&width=200" width="200" height="335" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>
			<div class='col-md-9' id='general-profile-information-text'>
				<div class='general-information-data-field'>
					<div class='general-information-text-header'>Name</div>
					<div class='general-information-text-value'>{{ name }}</div>
				</div>
			</div>
		</div>
		<div class='col-md-2'></div>
	</div>
{{ /user }}