<div class="row toolbar">
    <div class="col-md-4 text-center company-name" id='anticharity-home-toolbar'>
        {{ name }}
    </div>
    <div class="col-md-3" id='set-a-goal-toolbar'>
        Set A Goal
    </div>
    <div class="col-md-2" id='why-anticharity-toolbar'>
        Why AntiCharity?
    </div>
    <div class="col-md-3">
        {{ #if authenticated }}
            <div class="col-md-12" id='profile-toolbar'>Profile</div>
        {{ else }}
            <div class="col-md-6" id='signup-toolbar'>Sign Up</div>
            <div class="col-md-6" id='login-toolbar'>Login</div>
        {{ /if }}
    </div>
</div>
