<div class="why-anticharity">
    <div class="why-anticharity-section">
        <div class="why-anticharity-paragraph">
            People who set goals are more successful
        </div>

        <div class="why-anticharity-paragraph">
            So it turns out, setting goals is actually a thing, and that it matters.
        </div>

        <div class="why-anticharity-paragraph">
            Research has shown that people with clear, written goals earn 10x more than non-goal setters.
        </div>
        <img class="why-anticharity-img" src="http://i0.kym-cdn.com/photos/images/newsfeed/000/185/885/SANDCASTLES.png?1318627593" />

        <div class="why-anticharity-paragraph">
            People lose 30% of their capacity and performance potential by not focusing on goals.
        </div>

        <div class="why-anticharity-paragraph">
            Achieving goals is hard work.
        </div>

        <div class="why-anticharity-paragraph">
            Studies show that about 8% of people achieve New Years resolutions.
        </div>

        <div class="why-anticharity-paragraph">
            So how can we make goal setting more successful?
        </div>
        <img class="why-anticharity-img" src="https://cdn.meme.am/instances/500x/28321879.jpg" />

        <div class="why-anticharity-paragraph">
            Behavioral Economics teaches us that “losses loom larger than gains.”  The pain of losing is psychologically about twice as powerful as the pleasure of gaining (Loss Aversion).
        </div>
        <img class="why-anticharity-img" src="https://pbs.twimg.com/media/CEUn09zWAAEz3Wk.jpg" />

        <div class="why-anticharity-paragraph">
            Speaking motivation, it has been shown that those who publicly declare their intentions are four times more likely to complete their tasks than those who keep their tasks private.
        </div>
    </div>

    <div class="why-anticharity-section">
        <div class="why-anticharity-paragraph">
            Thinking about the process of goal setting and its relationship to motivation the idea for AntiCharity was born.
        </div>

        <div class="why-anticharity-paragraph">
            We all have people or organizations that we hate in life.
            “AntiCharity” to be specific is defined as “an organization that supports a cause you do not believe in, or that is against your values.”
            Superman has Lex Luthor. The Jedi have the Sith.  Apple has Microsoft. The Dallas Cowboys have the Redskins, wait, bad example, they both are terrible now.
        </div>
        <img class="why-anticharity-img" src="https://i.embed.ly/1/display/resize?key=1e6a1a1efdb011df84894040444cdc60&url=http%3A%2F%2Fscontent-b.cdninstagram.com%2Fhphotos-xpa1%2Ft51.2885-15%2F925367_1468251120109571_1002441364_n.jpg&width=810"
                 />

        <div class="why-anticharity-paragraph">
            What would hurt more than losing?  Losing to your nemesis?
        </div>

        <div class="why-anticharity-paragraph">
            We wondered what would happen if you took (1) smart goal setting practices and (2) combined this with the power of Loss Aversion and Social Accountability.
        </div>
        <img class="why-anticharity-img" src="https://cdn.meme.am/instances/500x/37264390.jpg"/>

        <div class="why-anticharity-paragraph">
            What if you set a goal and knew that failure would mean giving money to your AntiCharity?  And what if all your friends knew about it?
            What if the Donald, or Hillary (whatever floats or sinks your proverbial political boat) were standing over you cackling as you failed to reach your goal?
            What if your friends put that shameful scene on Snapchat for the world to see?
            You might think twice about hitting that snooze button and decide to skip leg day.
        </div>
        <img class="why-anticharity-img" src="http://s2.quickmeme.com/img/5c/5c0b3f2e25a56b3f0569d7b15b9af981fb832178f529b100760027e0edc29d77.jpg" />
    </div>
</div>