<div>
    <div>
        People who set goals are more successful
    </div>

    <div>
        So it turns out, setting goals is actually a thing, and that it matters.
    </div>

    <div>
        Research has shown that people with clear, written goals earn 10x more than non-goal setters.
    </div>

    <div>
        People lose 30% of their capacity and performance potential by not focusing on goals.
    </div>

    <div>
        Achieving goals is hard work.
    </div>

    <div>
        Studies show that about 8% of people achieve New Years resolutions.
    </div>

    <div>
        So how can we make goal setting more successful?
    </div>

    <div>
        Behavioral Economics teaches us that “losses loom larger than gains.”  The pain of losing is psychologically about twice as powerful as the pleasure of gaining (Loss Aversion).
    </div>

    <div>
        Speaking motivation, it has been shown that those who publicly declare their intentions are four times more likely to complete their tasks than those who keep their tasks private.
    </div>
</div>

<div>
    <div>
        Thinking about the process of goal setting and its relationship to motivation the idea for AntiCharity was born.
    </div>

    <div>
        We all have people or organizations that we hate in life.
        “AntiCharity” to be specific is defined as “an organization that supports a cause you do not believe in, or that is against your values.”
        Superman has Lex Luthor. The Dallas Cowboys have the Redskins, wait, bad example, they both are terrible now.
        The Jedi have the Sith.  Apple has Microsoft.
    </div>

    <div>
        What would hurt more than losing?  Losing to your nemesis?
    </div>

    <div>
        We wondered what would happen if you took (1) smart goal setting practices and (2) combined this with the power of Loss Aversion and Social Accountability.
    </div>

    <div>
        What if you set a goal and knew that failure would mean giving money to your AntiCharity?  And what if all your friends knew about it?
        What if the Donald, or Hillary (whatever floats or sinks your proverbial political boat philosoraptor) were standing over you cackling as you failed to reach your goal?
        What if your friends put that shameful scene on Snapchat for the world to see?
        You might think twice about hitting that snooze button and decide to skip leg day.
        Meme, never skip leg day robin.
    </div>
</div>